.screen {
  background-color: #f4f4f4;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

span {height: fit-content}

#SearchResults {
	display: none;
    position: absolute;
    width: calc(100% - 250px);
    left: 250px;
    top: 76px;
	height: calc(100% - 80px);
	overflow-y: auto;
	padding: 30px;
	font-family: "Montserrat", Helvetica;
	font-weight: 600;
}


#SearchResults .RightOptions span {font-weight: 500 }


span#Title {
	font-weight: bold !important;
	font-size: 20px;
	color: #34486c;
	padding-bottom: 20px;
	display: block;
}

img.PointImg {
	margin-right: 10px;
	transition: all .2s;
}

#SearchResults .ContentLine {
	display: flex;
	padding: 2px;
	padding-left: 0px;
	margin-bottom: 10px;
	margin-top: 10px;
}

#SearchResults .ContentLine span {
	margin-top: 3px;
	font-weight: 500;
	padding-right: 20px
}


#SearchResults .box.marked {
	background: #d2e3fa
}

button#testPatent {margin-bottom: 20px}

#SearchResults .box.marked:hover {
	background: #c5deff;
}
#SearchResults .box:hover {
	background: #efffed;
}

#SearchResults .box {
	background: white;
	padding: 20px;
	margin-bottom: 20px;
	display: flex;
	transition: all .35s cubic-bezier(0.39, 0.58, 0.57, 1);
	border-radius: 20px;
	box-shadow: 0px 0px 20px #0000001a
}

.LeftOptions {
	padding-right: 10px;
	display: flex;
	flex-direction: column;
}

#SearchResults input[type="checkbox"] {
	scale: 1.4;
	outline: none;
}
#SearchResults .LeftOptions img {
	margin-top: 10px;
	margin-left: 2px;
	cursor: pointer;
	width: 25px
}

#SearchBox {
	padding: 30px;
	display: block
}

.screen .div {
  background-color: #f4f4f4;
  overflow: hidden;
  width: 1920px;
  height: 900px;
  position: relative;
}

.screen .textbox {
  position: absolute;
  width: 887px;
  height: 85px;
  top: 111px;
  left: 288px;
}

.screen .textbox-wrapper {
  position: absolute;
  width: 105px;
  height: 52px;
  top: 122px;
  left: 1193px;
}

.screen .div-wrapper {
  display: flex;
  width: 107px;
  height: 54px;
  align-items: center;
  gap: 27px;
  position: relative;
  top: -1px;
  left: -1px;
  background-color: #d2e3fa;
  border-radius: 5px;
  border: 1px solid;
  border-color: #ffffff;
  box-shadow: 0px 5px 20px #0000000d;
}

.screen .text-wrapper {
  position: relative;
  width: fit-content;
  margin-right: -306px;
  font-family: "Montserrat", Helvetica;
  font-weight: 500;
  font-size: 16px;
  left: 24%;
  cursor: pointer;
  line-height: 20.8px;
  white-space: nowrap;
  color: #34486c;
  letter-spacing: 0;
}

.screen .textbox-2 {
  position: absolute;
  width: 110px;
  height: 41px;
  top: 458px;
  left: 310px;
}

.screen .textbox-3 {
  display: flex;
  cursor: pointer;
  flex-direction: column;
  width: 112px;
  height: 43px;
  align-items: flex-start;
  justify-content: center;
  gap: 27px;
  padding: 5px 0px 5px 20px;
  position: relative;
  top: -1px;
  left: -1px;
  background-color: #d2e3fa;
  border-radius: 5px;
  border: 1px solid;
  border-color: #ffffff;
  box-shadow: 0px 5px 20px #0000000d;
}

.screen .text-wrapper-2 {
  width: fit-content;
  margin-right: -310.66px;
  text-align: center;
  white-space: nowrap;
  position: relative;
  font-family: "Montserrat", Helvetica;
  font-weight: 500;
  color: #34486c;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 18.2px;
}

.screen .textbox-4 {
  position: absolute;
  width: 369px;
  height: 41px;
  top: 199px;
  left: 310px;
}

.screen .textbox-5 {
  display: flex;
  width: 371px;
  height: 43px;
  align-items: center;
  gap: 27px;
  padding: 5px 0px 5px 20px;
  position: relative;
  top: -1px;
  left: -1px;
  background-color: #f0f4ff;
  border-radius: 5px;
  border: 1px solid;
  border-color: #ffffff;
  box-shadow: 0px 5px 20px #0000000d;
}

.screen .text-wrapper-3 {
  position: relative;
  width: fit-content;
  margin-right: -115px;
  font-family: "Montserrat", Helvetica;
  font-weight: 500;
  color: #34486c;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 18.2px;
  white-space: nowrap;
}

.screen .textbox-6 {
  position: absolute;
  width: 115px;
  height: 41px;
  top: 199px;
  left: 703px;
}

.screen .textbox-7 {
  display: flex;
  width: 117px;
  height: 43px;
  align-items: center;
  gap: 27px;
  padding: 5px 0px 5px 20px;
  position: relative;
  top: -1px;
  left: -1px;
  background-color: #f0f4ff;
  border-radius: 5px;
  border: 1px solid;
  border-color: #ffffff;
  box-shadow: 0px 5px 20px #0000000d;
}

.screen .text-wrapper-4 {
  position: relative;
  width: fit-content;
  margin-right: -291px;
  font-family: "Montserrat", Helvetica;
  font-weight: 500;
  font-size: 14px;
  line-height: 18.2px;
  white-space: nowrap;
  color: #34486c;
  letter-spacing: 0;
}

.screen .textbox-8 {
  position: absolute;
  width: 115px;
  height: 41px;
  top: 199px;
  left: 845px;
}

.screen .text-wrapper-5 {
  position: relative;
  width: fit-content;
  margin-right: -293px;
  font-family: "Montserrat", Helvetica;
  font-weight: 500;
  font-size: 14px;
  line-height: 18.2px;
  white-space: nowrap;
  color: #34486c;
  letter-spacing: 0;
}

.screen .text-wrapper-6 {
  position: absolute;
  height: 26px;
  top: 205px;
  left: 1005px;
  font-family: "Montserrat", Helvetica;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  white-space: nowrap;
  color: #34486c;
  letter-spacing: 0;
}

.screen .textbox-9 {
  position: absolute;
  width: 650px;
  height: 41px;
  top: 258px;
  left: 310px;
}

.screen .textbox-10 {
  display: flex;
  width: 652px;
  height: 43px;
  align-items: center;
  gap: 27px;
  padding: 5px 0px 5px 20px;
  position: relative;
  top: -1px;
  left: -1px;
  background-color: #f0f4ff;
  border-radius: 5px;
  border: 1px solid;
  border-color: #ffffff;
  box-shadow: 0px 5px 20px #0000000d;
}

.screen .text-wrapper-7 {
  position: relative;
  width: fit-content;
  font-family: "Montserrat", Helvetica;
  font-weight: 500;
  color: #34486c;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 18.2px;
  white-space: nowrap;
}

.screen .textbox-11 {
  position: absolute;
  width: 650px;
  height: 41px;
  top: 323px;
  left: 310px;
}

.screen .textbox-12 {
  position: absolute;
  width: 650px;
  height: 41px;
  top: 387px;
  left: 310px;
}

.screen .view {
  position: absolute;
  width: 1673px;
  height: 76px;
  top: 0;
  left: 250px;
}

.screen .overlap-group {
  position: relative;
  width: 1669px;
  height: 76px;
  background-image: url(./img/rectangle-33.svg);
  background-size: 100% 100%;
}

.screen .text-wrapper-8 {
  position: absolute;
  cursor: default;
  height: 26px;
  top: 27px;
  left: 58px;
  font-family: "Montserrat", Helvetica;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  white-space: nowrap;
  color: #34486c;
  letter-spacing: 0;
}

.screen .text-wrapper-9 {
  position: absolute;
  height: 26px;
  top: 27px;
  cursor: pointer;
  left: 287px;
  font-family: "Montserrat", Helvetica;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  white-space: nowrap;
  color: #34486c;
  letter-spacing: 0;
}

.screen .line {
  position: absolute;
  width: 157px;
  height: 3px;
  top: 73px;
  left: 60px;
}

.screen .group {
  position: absolute;
  width: 887px;
  height: 495px;
  top: 258px;
  left: 992px;
}

.screen .group-wrapper {
  position: absolute;
  width: 814px;
  height: 495px;
  top: 0;
  left: 73px;
}

.screen .group-2 {
  position: relative;
  height: 495px;
}

.screen .textbox-13 {
  position: absolute;
  width: 246px;
  height: 41px;
  top: 0;
  left: 0;
}

.screen .textbox-14 {
  display: flex;
  width: 252px;
  height: 47px;
  align-items: center;
  gap: 27px;
  position: relative;
  top: -3px;
  left: -3px;
  background-color: #f0f4ff;
  border-radius: 5px;
  border: 3px solid;
  border-color: #34486c;
  box-shadow: 0px 5px 20px #0000000d;
}

.screen .image {
  position: relative;
  width: 27px;
  height: 27px;
  margin-right: -120px;
}

.screen .text-wrapper-10 {
  position: relative;
  width: fit-content;
  margin-right: -305px;
  font-family: "Montserrat", Helvetica;
  font-weight: 500;
  font-size: 14px;
  line-height: 18.2px;
  white-space: nowrap;
  color: #34486c;
  letter-spacing: 0;
}

.screen .textbox-15 {
  position: absolute;
  width: 266px;
  height: 41px;
  top: 324px;
  left: 1px;
}

.screen .textbox-16 {
  display: flex;
  width: 272px;
  height: 47px;
  align-items: center;
  gap: 27px;
  position: relative;
  top: -3px;
  left: -3px;
  background-color: #f0f4ff;
  border-radius: 5px;
  border: 3px solid;
  border-color: #34486c;
  box-shadow: 0px 5px 20px #0000000d;
}

.screen .img {
  position: relative;
  width: 27px;
  height: 27px;
  margin-right: -100px;
}

.screen .text-wrapper-11 {
  position: relative;
  width: fit-content;
  margin-right: -318px;
  font-family: "Montserrat", Helvetica;
  font-weight: 500;
  font-size: 14px;
  line-height: 18.2px;
  white-space: nowrap;
  color: #34486c;
  letter-spacing: 0;
}

.screen .textbox-17 {
  position: absolute;
  width: 289px;
  height: 41px;
  top: 454px;
  left: 0;
}

.screen .textbox-18 {
  display: flex;
  width: 295px;
  height: 47px;
  align-items: center;
  gap: 27px;
  position: relative;
  top: -3px;
  left: -3px;
  background-color: #f0f4ff;
  border-radius: 5px;
  border: 3px solid;
  border-color: #34486c;
  box-shadow: 0px 5px 20px #0000000d;
}

.screen .image-2 {
  position: relative;
  width: 27px;
  height: 27px;
  margin-right: -77px;
}

.screen .text-wrapper-12 {
  position: relative;
  width: fit-content;
  margin-top: -2.5px;
  margin-right: -312px;
  font-family: "Montserrat", Helvetica;
  font-weight: 500;
  font-size: 14px;
  line-height: 18.2px;
  color: #34486c;
  letter-spacing: 0;
}

.screen .textbox-19 {
  position: absolute;
  width: 246px;
  height: 41px;
  top: 129px;
  left: 0;
}

.screen .text-wrapper-13 {
  position: relative;
  width: fit-content;
  margin-right: -252px;
  font-family: "Montserrat", Helvetica;
  font-weight: 500;
  font-size: 14px;
  line-height: 18.2px;
  white-space: nowrap;
  color: #34486c;
  letter-spacing: 0;
}

.screen .group-3 {
  position: absolute;
  width: 814px;
  height: 43px;
  top: 62px;
  left: 0;
}

.screen .textbox-20 {
  position: absolute;
  width: 190px;
  height: 41px;
  top: 2px;
  left: 0;
}

.screen .textbox-21 {
  display: flex;
  width: 196px;
  height: 47px;
  align-items: center;
  gap: 27px;
  position: relative;
  top: -3px;
  left: -3px;
  background-color: #f0f4ff;
  border-radius: 5px;
  border: 3px solid;
  border-color: #34486c;
  box-shadow: 0px 5px 20px #0000000d;
}

.screen .image-3 {
  position: relative;
  width: 27px;
  height: 27px;
}

.screen .text-wrapper-14 {
  position: relative;
  width: fit-content;
  margin-right: -314px;
  font-family: "Montserrat", Helvetica;
  font-weight: 500;
  font-size: 14px;
  line-height: 18.2px;
  white-space: nowrap;
  color: #34486c;
  letter-spacing: 0;
}

.screen .textbox-22 {
  position: absolute;
  width: 190px;
  height: 41px;
  top: 2px;
  left: 208px;
}

.screen .text-wrapper-15 {
  position: relative;
  width: fit-content;
  margin-right: -304px;
  font-family: "Montserrat", Helvetica;
  font-weight: 500;
  font-size: 14px;
  line-height: 18.2px;
  white-space: nowrap;
  color: #34486c;
  letter-spacing: 0;
}

.screen .textbox-23 {
  display: flex;
  width: 196px;
  height: 47px;
  align-items: center;
  gap: 27px;
  position: absolute;
  top: -3px;
  left: 621px;
  background-color: #f0f4ff;
  border-radius: 5px;
  border: 3px solid;
  border-color: #34486c;
  box-shadow: 0px 5px 20px #0000000d;
}

.screen .text-wrapper-16 {
  position: relative;
  width: 117px;
  margin-top: -2.5px;
  margin-right: -320px;
  font-family: "Montserrat", Helvetica;
  font-weight: 500;
  font-size: 14px;
  line-height: 18.2px;
  color: #34486c;
  letter-spacing: 0;
}

.screen .textbox-24 {
  position: absolute;
  width: 190px;
  height: 41px;
  top: 0;
  left: 416px;
}

.screen .text-wrapper-17 {
  position: relative;
  width: fit-content;
  margin-right: -321px;
  font-family: "Montserrat", Helvetica;
  font-weight: 500;
  font-size: 14px;
  line-height: 18.2px;
  white-space: nowrap;
  color: #34486c;
  letter-spacing: 0;
}

.screen .group-4 {
  position: absolute;
  width: 814px;
  height: 43px;
  top: 194px;
  left: 0;
}

.screen .text-wrapper-18 {
  position: relative;
  width: fit-content;
  margin-right: -248px;
  font-family: "Montserrat", Helvetica;
  font-weight: 500;
  font-size: 14px;
  line-height: 18.2px;
  white-space: nowrap;
  color: #34486c;
  letter-spacing: 0;
}

.screen .text-wrapper-19 {
  width: 117px;
  margin-right: -320px;
  position: relative;
  font-family: "Montserrat", Helvetica;
  font-weight: 500;
  color: #34486c;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 18.2px;
}

.screen .text-wrapper-20 {
  position: relative;
  width: fit-content;
  margin-right: -292px;
  font-family: "Montserrat", Helvetica;
  font-weight: 500;
  font-size: 14px;
  line-height: 18.2px;
  white-space: nowrap;
  color: #34486c;
  letter-spacing: 0;
}

.screen .group-5 {
  position: absolute;
  width: 606px;
  height: 43px;
  top: 388px;
  left: 0;
}

.screen .text-wrapper-21 {
  position: relative;
  width: fit-content;
  margin-right: -249px;
  font-family: "Montserrat", Helvetica;
  font-weight: 500;
  font-size: 14px;
  line-height: 18.2px;
  white-space: nowrap;
  color: #34486c;
  letter-spacing: 0;
}

.screen .text-wrapper-22 {
  position: relative;
  width: fit-content;
  margin-right: -260px;
  font-family: "Montserrat", Helvetica;
  font-weight: 500;
  font-size: 14px;
  line-height: 18.2px;
  white-space: nowrap;
  color: #34486c;
  letter-spacing: 0;
}

.screen .group-6 {
  position: absolute;
  width: 814px;
  height: 43px;
  top: 258px;
  left: 0;
}

.screen .text-wrapper-23 {
  position: relative;
  width: fit-content;
  margin-right: -239px;
  font-family: "Montserrat", Helvetica;
  font-weight: 500;
  font-size: 14px;
  line-height: 18.2px;
  white-space: nowrap;
  color: #34486c;
  letter-spacing: 0;
}

.screen .text-wrapper-24 {
  position: relative;
  width: fit-content;
  margin-right: -275px;
  font-family: "Montserrat", Helvetica;
  font-weight: 500;
  font-size: 14px;
  line-height: 18.2px;
  white-space: nowrap;
  color: #34486c;
  letter-spacing: 0;
}

.screen .text-wrapper-25 {
  position: relative;
  width: fit-content;
  margin-right: -272px;
  font-family: "Montserrat", Helvetica;
  font-weight: 500;
  font-size: 14px;
  line-height: 18.2px;
  white-space: nowrap;
  color: #34486c;
  letter-spacing: 0;
}

.screen .image-4 {
  position: absolute;
  width: 52px;
  height: 37px;
  top: 2px;
  left: 0;
}

.screen .image-5 {
  position: absolute;
  width: 52px;
  height: 37px;
  top: 326px;
  left: 1px;
}

.screen .image-6 {
  position: absolute;
  width: 52px;
  height: 37px;
  top: 131px;
  left: 0;
}

.screen .menu-bar {
  position: absolute;
  width: 250px;
  height: 900px;
  top: 0;
  left: 0;
}

.screen .overlap-wrapper {
  width: 252px;
  height: 900px;
}

.screen .overlap {
  position: relative;
  width: 250px;
  height: 900px;
  background-color: #f0f4ff;
}

.screen .overlap-2 {
  position: absolute;
  width: 194px;
  height: 327px;
  top: 279px;
  left: 23px;
}

.screen .view-2 {
  width: 194px;
  height: 327px;
  left: 0;
  position: absolute;
  top: 0;
}

.screen .overlap-group-2 {
  position: absolute;
  width: 196px;
  height: 34px;
  top: 0;
  left: 0;
}

.screen .rectangle {
  position: absolute;
  width: 194px;
  height: 34px;
  top: 0;
  left: 0;
  background-color: #dae5ff;
  border-radius: 12px;
}

.screen .icon {
  position: absolute;
  width: 146px;
  height: 16px;
  top: 10px;
  left: 50px;
}

.screen .text-wrapper-26 {
  position: absolute;
  width: 144px;
  height: 16px;
  top: 0;
  left: 0;
  font-family: "Montserrat", Helvetica;
  font-weight: 600;
  font-size: 12px;
  line-height: 15.6px;
  color: #34486c;
  letter-spacing: 0;
}

.screen .overlap-3 {
  position: absolute;
  width: 190px;
  height: 76px;
  top: 51px;
  left: 6px;
}

.screen .icon-2 {
  position: absolute;
  width: 190px;
  height: 70px;
  top: 6px;
  left: 0;
}

.screen .text-wrapper-27 {
  position: absolute;
  width: 144px;
  height: 16px;
  top: 0;
  left: 44px;
  font-family: "Montserrat", Helvetica;
  font-weight: 600;
  font-size: 12px;
  line-height: 15.6px;
  color: #34486c;
  letter-spacing: 0;
}

.screen .mdi-form {
  position: absolute;
  width: 28px;
  height: 28px;
  top: 42px;
  left: 0;
}

.screen .icon-3 {
  position: absolute;
  width: 28px;
  height: 28px;
  top: 0;
  left: 2px;
}

.screen .icon-4 {
  position: absolute;
  width: 146px;
  height: 16px;
  top: 54px;
  left: 44px;
}

.screen .vector {
  position: absolute;
  width: 21px;
  height: 21px;
  top: 7px;
  left: 10px;
}

.screen .div-2 {
  position: absolute;
  width: 184px;
  height: 170px;
  top: 60px;
  left: 31px;
}

.screen .overlap-4 {
  position: absolute;
  width: 180px;
  height: 138px;
  top: 32px;
  left: 4px;
}

.screen .menu-bar-2 {
  position: absolute;
  width: 180px;
  height: 40px;
  top: 16px;
  left: 0;
}

.screen .img-2 {
  position: absolute;
  width: 46px;
  height: 46px;
  top: -1px;
  left: 139px;
}

.screen .image-wrapper {
  position: absolute;
  width: 40px;
  cursor: pointer;
  height: 40px;
  top: 0;
  left: 0;
  border-radius: 10px;
  background: linear-gradient(180deg, rgb(204.95, 223.88, 249.69) 0%, rgb(212.37, 228.32, 248.63) 100%);
}

.screen .image-7 {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 8px;
  left: 10px;
}

.screen .div-3 {
  position: absolute;
  width: 138px;
  height: 138px;
  top: 0;
  left: 22px;
}

.screen .text-wrapper-28 {
  position: absolute;
  height: 42px;
  top: 96px;
  left: 0;
  font-family: "Montserrat", Helvetica;
  font-weight: 600;
  color: #34486c;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: 20.8px;
}

.screen .overlap-group-wrapper {
  width: 80px;
  height: 80px;
  left: 28px;
  position: absolute;
  top: 0;
}

.screen .overlap-group-3 {
  position: relative;
  width: 96px;
  height: 96px;
  top: -6px;
  left: -6px;
}

.screen .ellipse {
  position: absolute;
  width: 82px;
  height: 82px;
  top: 5px;
  left: 5px;
  background-color: #dde3f7;
  border-radius: 41px;
  border: 1px solid;
  border-color: #ffffff;
  box-shadow: 3px 3px 11px #0000000a;
}

.screen .ellipse-2 {
  position: absolute;
  width: 96px;
  height: 96px;
  top: 0;
  left: 0;
  object-fit: cover;
}

.screen .view-3 {
  width: 53px;
  height: 16px;
  left: 0;
  position: absolute;
  top: 0;
}

.screen .text-wrapper-29 {
  position: absolute;
  height: 16px;
  top: 0;
  left: 0;
  font-family: "Montserrat", Helvetica;
  font-weight: 400;
  color: #34486c;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 15.6px;
  white-space: nowrap;
}

.screen .overlap-5 {
  position: absolute;
  width: 73px;
  height: 34px;
  top: 14px;
  left: 89px;
}

.screen .p {
  position: absolute;
  height: 34px;
  top: 0;
  left: 8px;
  font-family: "Poppins", Helvetica;
  font-weight: 700;
  color: #34486c;
  font-size: 26px;
  text-align: center;
  line-height: 22.4px;
}

.screen .span {
  letter-spacing: 0;
}

.screen .text-wrapper-30 {
  font-size: 27.7px;
  letter-spacing: 0;
  line-height: 23.8px;
}

.screen .text-wrapper-31 {
  font-size: 13px;
  letter-spacing: 0.12px;
  line-height: 11.2px;
}

.screen .group-7 {
  position: absolute;
  width: 73px;
  height: 32px;
  top: 2px;
  left: 0;
}

.screen .overlap-6 {
  position: relative;
  width: 71px;
  height: 32px;
  background-color: #d9d9d9;
}

.screen .text-wrapper-32 {
  position: absolute;
  height: 24px;
  top: 4px;
  left: 3px;
  font-family: "Poppins", Helvetica;
  font-weight: 700;
  font-size: 27.7px;
  text-align: center;
  line-height: 23.8px;
  white-space: nowrap;
  color: #34486c;
  letter-spacing: 0;
}
.screen .div-wrapper {
	cursor: pointer;
	font-family: "Montserrat", Helvetica;
	
}

button#AnotherSearch {
	font-weight: 600;
	width: 100%;
	display: block;
	padding-left: 20px;
	text-align: center;
	border-radius: 10px;
	margin-bottom: 20px
}


.screen .icon-3 {left: 8px; top: 3px}

.screen .overlap-group-2 {
	position: relative
}
.screen .overlap-3 {
	display: flex;
	flex-direction: column;
}
.overlap-group-last {
	top: 15px;
	width: 196px;
	position: relative;
}
.screen .rectangle {background: transparent}
.screen .overlap-group-2, .overlap-group-last {cursor: pointer}
.tabActive {background: #dae5ff; border-radius: 12px; cursor: default !important}
.analytics {
	position: relative;
	width: 28px;
	height: 28px;
	left: 8px;
	top: 3px;
}